.style0 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 14px;
  margin-top: 20px;
  width: 1171px;
  height: 109px;
  flex-direction: column
}
.style2 {
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 543px;
  margin-top: 14px;
  height: 25px
}
.view1container0row1 {
  position: relative;
  display: flex;
  margin-left: 27px;
  margin-top: 0;
  width: 1074px;
  height: 55px;
  align-items: stretch;
  justify-content: space-between
}
.view1container0row1unsupported0,
.view1container0row1unsupported1,
.view1container0row1unsupported10,
.view1container0row1unsupported11,
.view1container0row1unsupported2,
.view1container0row1unsupported3,
.view1container0row1unsupported4,
.view1container0row1unsupported5,
.view1container0row1unsupported6,
.view1container0row1unsupported7,
.view1container0row1unsupported8,
.view1container0row1unsupported9 {
  width: 12px;
  flex-shrink: 0
}
.view1container0row1unsupported12,
.view1container0row1unsupported13 {
  position: relative;
  width: 12px;
  flex-shrink: 0
}
.view1container0row1unsupported14,
.view1container0row1unsupported15 {
  width: 12px;
  flex-shrink: 0
}
.style1 {
  background-color: #cf2a27;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  position: relative;
  margin-left: 32px;
  margin-top: 58px;
  width: 1062px;
  height: 18px
}
.style4 {
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 19px;
  margin-top: 32px;
  height: 25px
}
.style3,
.style9 {
  margin-left: 14px;
  margin-top: 0;
  width: 647px;
  height: 599px
}
.style9 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-top: 20px;
  width: 1171px;
  height: 109px;
  flex-direction: column
}
.style11 {
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 543px;
  margin-top: 14px;
  height: 25px
}
.style10 {
  background-color: #cf2a27;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-left: 32px;
  margin-top: 19px;
  width: 1062px;
  height: 18px
}
.style12 {
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 19px;
  margin-top: 32px;
  height: 25px
}
.style13 {
  margin-left: 18px;
  margin-top: 33px;
  width: 1167px;
  height: 517px
}
.style14 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 14px;
  margin-top: 20px;
  width: 1171px;
  height: 109px;
  flex-direction: column
}
.style16 {
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 543px;
  margin-top: 14px;
  height: 25px
}
.style15 {
  background-color: #cf2a27;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-left: 32px;
  margin-top: 19px;
  width: 1062px;
  height: 18px
}
.style17 {
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 19px;
  margin-top: 32px;
  height: 25px
}
.style18 {
  margin-left: 14px;
  margin-top: 8px;
  width: 1126px;
  height: 592px
}
.main-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1200px
}
.style19 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 14px;
  margin-top: 20px;
  width: 1171px;
  height: 109px;
  flex-direction: column
}
.style21 {
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 543px;
  margin-top: 14px;
  height: 25px
}
.style20 {
  background-color: #cf2a27;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-left: 32px;
  margin-top: 19px;
  width: 1062px;
  height: 18px
}
.style22 {
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 19px;
  margin-top: 32px;
  height: 25px
}
.style23 {
  margin-left: 14px;
  margin-top: 14px;
  width: 1165px;
  height: 295px
}